# Homework #1

In [2]:
import numpy as np
import pandas as pd

### Question 1

What's the version of NumPy that you installed?

In [3]:
np.__version__

'1.21.0'

### Getting the data

In [57]:
data = pd.read_csv('../datos/data.csv')

In [58]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

### Question 2

How many records are in the dataset?

In [59]:
data.shape[0]

11914

### Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [60]:
data['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4
What's the number of unique Audi car models in the dataset?

In [61]:
data[data['Make'] == 'Audi']['Model'].nunique()

34

### Question 5
How many columns in the dataset have missing values?

In [62]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

I can see 5 columns that have missing values

### Question 6
1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
4. Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

In [63]:
data['Engine Cylinders'].median()

6.0

In [70]:
data['Engine Cylinders'].mode()

0    4.0
dtype: float64

In [67]:
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(data['Engine Cylinders'].median())

In [69]:
data['Engine Cylinders'].median()

6.0

No, it's the same

### Question 7
1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [77]:
df_lotus = data[data['Make'] == 'Lotus']
df_lotus = df_lotus[["Engine HP", "Engine Cylinders"]]
df_lotus = df_lotus.drop_duplicates()
df_lotus

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0

In [83]:
X = df_lotus.to_numpy()
XTX = np.matmul(X.T,X)
XTX_inv = np.linalg.inv(XTX)
XTX_inv

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [84]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [86]:
xtx_mul_inv = np.matmul(XTX_inv,X.T)
w = np.matmul(xtx_mul_inv, y)

In [88]:
w[0]

4.594944810094551